<div class="container">
  <h1>New Orders</h1>
</div>
  <br>
  <br>
<div class="container">
<table align-text="center" class="table">
  <thead class="thead thead-dark" >
    <tr>
      <th>Order-ID</th>
      <th>Name</th>
      <th>Product</th>
      <th>Quantity (kg)</th>
      <th>Price</th>
      <th>Assigned Staff</th>
      <th>Status</th>
    </tr> 
  </thead>
  <tbody >
    <tr *ngFor = "let a of orders ; let i = index">
      <td>{{a.id}}</td>
      <td>{{a.name}}</td>
      <td>{{a.item}}</td>
      <td>{{a.qty}}</td>
      
      <td>{{a.price}}</td>
      <td>{{a.staff}}</td>

      <td>
        <div class="btn-group">
          <div class="btn-group">
            <select [(ngModel)]="selectedStaff" (change)="assignStaff()">
              <option [value]="s.key" *ngFor="let s of staff">{{s.name}}</option>
            </select>
  
          </div>
          <button type="button" class="btn btn-danger">Decline</button>

        </div></td>
    </tr>


  </tbody>
</table>
</div>
