<div class="animated fadeIn">
  <div class="row">
    <strong>Staff Details</strong>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <button [routerLink]="['/layout/addstaff']" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"> Add Staff</i></button>
    </div>
  </div>

  <div class="row" *ngFor = "let s of staffs ; let i = index">
    <div class="col-lg-8">
      <div class="card" [hidden]=" i === 0">
        <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)"  [collapse]="i">
          <div class="row">
            <!-- <div *ngIf="show"> -->
              <div class="col-md-2">name</div>
              <div class="col-md-2">age</div>
              <div class="col-md-2">contact</div>
              <div class="col-md-2">address</div>
              <div class="col-md-2"></div>
              <div class="col-md-2"></div>
            <!-- </div> -->
          </div>
          <div class="row">
            <div class="col-md-2">{{s.name}}</div>
            <div class="col-md-2">{{s.age}}</div>
            <div class="col-md-2">{{s.contact}}</div>
            <div class="col-md-2">{{s.address}}</div>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
              <div class="col-md-3">{{s.name}}</div>
              <div class="col-md-3"></div>
              <div class="col-md-2"></div>
              <div class="col-md-2"></div>
              <div class="col-md-2">
                <button type="button" class="btn btn-primary" (click)="i = !i">View Details</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
