<div class="container">
    <div class="row">
      <h1>Assigned Orders</h1>
    </div>
<div class="row">
    <table align-text="center" class="table">
      <thead class="thead thead-dark">
        <tr>
          <th>Order-ID</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Assigned To</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <td>{{order.id}}</td>
          <td>{{order.name}}</td>
          <td>{{order.qty}}</td>
          <td>{{order.price}}</td>
          <!-- <td>{{staffs.name}}</td> -->
          <!-- <td>{{order.price}}</td> -->
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
